<div class="row">
    <div class="col col-xs-10 col-md-7">
        <app-shopping-edit (onProductAdded)="onAdded($event)"></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let ingredient of ingredients">
                <a style="cursor: pointer" (click)="onEditItem(ingredient.id)">{{ingredient.name}}</a>
                <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
            </li>
        </ul>
    </div>
</div>