<app-header (tabChanged)="onTabChanged($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="row" *appUnless="visibleTabName==='recipes'">
      <div class="col-md-12">
          <p appBasicHighlight>Style me with basic directive!</p>
          <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'blue'">Style me with better directive</p>
      </div>
    </div>
</div> -->
